.fa-arrow-circle-down {
  color: #560707;
}

.fa-arrow-circle-down:hover {
  color: #D39898;
}

.register-btn{
   background-color: #560707  !important;
   border-radius: 10px;
}

.register-btn:hover{
   background-color: #d25d5d !important;
}

ul#nav li a:active {
  background-color: transparent !important;
}

ul#nav li.current a {
  color: 	#cf8484;
}

.darkRed{
  background-color: #560707;
  color: #FFFFFF;
}

.lightRed{
  background-color: #b72c2c;
  color: #FFFFFF;
}

.darkPink{
  background-color: #d25d5d;
  color: #FFFFFF;
}

.lightPink{
  background-color: #d39898;
  color: #FFFFFF;
}

.white{
  background-color: #FFFFFF;
  color: #560707;
}

.section {
   padding-top: 96px;
   padding-bottom: 66px;
   overflow: hidden;
}

.section h2 {
   font: 22px/30px 'opensans-bold', sans-serif;
   margin-bottom: 12px;
}
.section p {
   line-height: 30px;
}

.section .main-col { padding-right: 5%; }

.foot {
  background-color: #d35f5f;
  position: relative;
  bottom: 0px;
}

.whitelogo {
  color: white;
  font-size: 1em;
}

.ita {
  width: 100px;
  position: relative;
  bottom: 5px;
  right: 12px;
}

.itaex {
  width: 100px;
  position: relative;
  bottom: -20px;
}

.johnson {
  width: 50px;
  position: relative;
  bottom: 5px;
  left: 12px;
}

.countdown-wrapper {
    font: 22px/30px 'opensans-bold', sans-serif;

    color: white;
    background-color: #560707;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.countdown-text {
    font: 22px/30px 'opensans-bold', sans-serif;
}

.countdown-item {
    color: #FFFFFF;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 30px;
    margin: 10px;
    padding-top: 10px;
    position: relative;
    width: 100px;
    height: 100px;
}

.countdown-item span {
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

.countdown-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
}

.button {
    width: 300px;
    font: 15px 'opensans-bold', sans-serif;
    background-color: #560707;
    border-radius: 15px;
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
}

.button:hover {
    background-color: #D39898;
    color: #000000;
}

.newmodal {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #FFD9D9;
  background-clip: padding-box;
  border-radius: 10px;
  outline: 0;
}

.inside-modal {
  text-align: center;
}

.modal-field {
  text-align: left;
  margin: 0 0 0 0;
}

.modal-title {
  font: 25px 'opensans-bold', sans-serif;
  color: #550000;
}
