.fa-arrow-circle-down {
  color: #560707;
}

.fa-arrow-circle-down:hover {
  color: #d25d5d;
}

.register-btn{
   background-color: #560707  !important;
   border-radius: 10px;
}

.register-btn:hover{
   background-color: #d25d5d !important;
}

ul#nav li a:active {
  background-color: transparent !important;
}

ul#nav li.current a {
  color: 	#cf8484;
}

.darkRed{
  background-color: #560707;
}

.lightRed{
  background-color: #b72c2c;
}

.darkPink{
  background-color: #d25d5d;
}

.lightPink{
  background-color: #d39898;
}

.white{
  background-color: #FFFFFF;
}

.section {
   padding-top: 96px;
   padding-bottom: 66px;
   overflow: hidden;
}

.section h2 {
   font: 22px/30px 'opensans-bold', sans-serif;
   margin-bottom: 12px;
   color: #FFFFFF;
}
.section p {
   line-height: 30px;
}

.section .main-col { padding-right: 5%; }
