.navBar{
  background-color: #560707;
}

.header{
  background-color: #FFFFFF;
}

.fa-arrow-circle-down {
  color: #560707;
}

.fa-arrow-circle-down:hover {
  color: #d25d5d;
}

.register-btn{
   background-color: #560707;
   border-radius: 10px;
}

.register-btn:hover{
   background-color: #d25d5d;
}

ul#nav li a:active {
  background-color: transparent !important;
}

ul#nav li.current a {
  color: 	#cf8484;
}

.foot {
  background-color: #d35f5f;
  position: relative;
  bottom: 0px;
}

.white {
  color: white;
  font-size: 1em;
}

.ita {
  width: 100px;
  position: relative;
  bottom: 5px;
  right: 12px;
}

.itaex {
  width: 100px;
  position: relative;
  bottom: -20px;
}

.johnson {
  width: 50px;
  position: relative;
  bottom: 5px;
  left: 12px;
}
